{% extends 'shift/layout.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <h1 class="theme">新規業務作成画面</h1>

    <form action="{% url 'shift:recall' %}" method="post">
        {% csrf_token %}
        {{ recall_form | crispy }}
        <input type="submit">
    </form>

    <form action="{% url 'shift:make' 0 %}" method="post">
        {% csrf_token %}
        {{ make_form | crispy }}
        <input type="submit">
    </form>


    <a href="{% url 'shift:home' Now.year Now.month %}" class="btn btn-primary">ホームに戻る</a>
{% endblock %}