.header {
    text-align: center;
    background-color:blue;
    color: white;
    margin-bottom: 5px;
    border:solid thin black;
    border-radius: 3px;
}

.content {
    margin-left: 5px; 
    margin-right: 5px; 
}

.theme {
    text-align: center;
    margin-bottom: 5px;
    border-bottom: solid thin black;
}

thead {
    background-color: darkseagreen;
}

.inner-calendar {
    font-size: 13px;
    padding: 0px;
    margin: 0px; 
}

.complement {
    text-align: right;
    margin-right: 20px;
}

.btn {
    margin-top: 5px; 
    margin-bottom: 5px;
}

.form-wrapper {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin: 5px;
}

.feedback-date {
    width: 10vw;
}
.feedback-text {
    width: 42.5vw;
}
.feedback-response {
    width: 42.5vw;
}