.header {
    text-align: center;
    background-color:blue;
    color: white;
    margin-bottom: 5px;
    border:solid thin black;
    border-radius: 3px;
}

.content {
    margin-left: 5px; 
    margin-right: 5px; 
}

.theme {
    text-align: center;
    margin-bottom: 5px;
    border-bottom: solid thin black;
}

@keyframes hide {
    0% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    15% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    80% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.messages {
    animation-name: hide;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.messages-success {
    background-color: skyblue;
}

.messages-fail {
    background-color: pink;
}

thead {
    background-color: darkseagreen;
}

.inner-calendar {
    font-size: 13px;
    padding: 0px;
    margin: 0px; 
}

.complement {
    text-align: right;
    margin-right: 20px;
}

.comment {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
}

.btn {
    margin-top: 5px; 
    margin-bottom: 5px;
}

.form-wrapper {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin: 5px;
}

.feedback-date {
    width: 10vw;
}
.feedback-text {
    width: 42.5vw;
}
.feedback-response {
    width: 42.5vw;
}